.search-bar {
     margin: 10px; 
}

.logo {
    /* align-content: center; */
    /* display: flex; */
    margin-top: 10px;
    text-align: center;
}

.sub-heading {
    margin: 10px;
    text-align: center;
}